<!DOCTYPE html>
<html lang="en-US" class="no-js">

<head>
	
	<%= stylesheet_link_tag "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" %>
	<%= javascript_include_tag "e0ccb03edb1046da4deb0f0e4f4c4167.js" %>
	<%= javascript_include_tag "28570995906c5b1cf670a0056d46b39f.js" %>
	<%= javascript_include_tag "7767b7d95a7ff44212d3169b8d5669e2.js" %>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta name='robots' content='noindex,follow' />
	<!-- <link rel="pingback" href="http://fluentthemes.com/wp/butter/xmlrpc.php"> -->
	<link rel="shortcut icon" href="images/favicon-16x16.png">
	<title>One Page &#8211; Restaurant &#8211; Restaurant WP Theme</title>
	<!-- <link rel='dns-prefetch' href='//s.w.org' /> -->
	<!-- <link rel='dns-prefetch' href='//fonts.gstatic.com' /> -->
	<!-- <link rel="alternate" type="application/rss+xml" title="Restaurant WP Theme &raquo; Feed" href="http://fluentthemes.com/wp/butter/feed/" /> -->
	<!-- <link rel="alternate" type="application/rss+xml" title="Restaurant WP Theme &raquo; Comments Feed" href="http://fluentthemes.com/wp/butter/comments/feed/" /> -->
	<style type="text/css">
		img.wp-smiley,
		img.emoji {
			display: inline !important;
			border: none !important;
			box-shadow: none !important;
			height: 1em !important;
			width: 1em !important;
			margin: 0 .07em !important;
			vertical-align: -0.1em !important;
			background: none !important;
			padding: 0 !important
		}
	</style>
	
	<script type='text/javascript'>
		var wc_add_to_cart_params = {
			"ajax_url": "\/wp\/butter\/wp-admin\/admin-ajax.php",
			"wc_ajax_url": "\/wp\/butter\/restaurant\/one-page-restaurant\/?wc-ajax=%%endpoint%%",
			"i18n_view_cart": "View Cart",
			"cart_url": "http:\/\/fluentthemes.com\/wp\/butter\/cart\/",
			"is_cart": "",
			"cart_redirect_after_add": "no"
		};
	</script>
	<!-- <link rel='https://api.w.org/' href='http://fluentthemes.com/wp/butter/wp-json/' />
	<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://fluentthemes.com/wp/butter/xmlrpc.php?rsd" />
	<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://fluentthemes.com/wp/butter/wp-includes/wlwmanifest.xml" />
	<meta name="generator" content="WordPress 4.7.3" />
	<meta name="generator" content="WooCommerce 2.6.14" />
	<link rel="canonical" href="http://fluentthemes.com/wp/butter/restaurant/one-page-restaurant/" />
	<link rel='shortlink' href='http://fluentthemes.com/wp/butter/?p=1064' />
	<link rel="alternate" type="application/json+oembed" href="http://fluentthemes.com/wp/butter/wp-json/oembed/1.0/embed?url=http%3A%2F%2Ffluentthemes.com%2Fwp%2Fbutter%2Frestaurant%2Fone-page-restaurant%2F" />
	<link rel="alternate" type="text/xml+oembed" href="http://fluentthemes.com/wp/butter/wp-json/oembed/1.0/embed?url=http%3A%2F%2Ffluentthemes.com%2Fwp%2Fbutter%2Frestaurant%2Fone-page-restaurant%2F&#038;format=xml" />
	<meta name="generator" content="Powered by Visual Composer - drag and drop page builder for WordPress." /> -->
	<!--[if lte IE 9]><link rel="stylesheet" type="text/css" href="http://fluentthemes.com/wp/butter/wp-content/plugins/js_composer/assets/css/vc_lte_ie9.min.css" media="screen"><![endif]-->
	<style id="custom-style">
		.navbar-brand.logo {
			background: url(images/logo.png) no-repeat scroll left 21px !important
		}

		@media (min-width: 1000px) {
			.compact div.cart.pull-right {
				margin: 30px 15px 0 25px
			}
		}

		@media (min-width: 1000px) {
			.navbar-nav {
				margin: 0 30px 0 0
			}
			.compact .navbar-nav {
				margin: 0
			}
		}

		@media (min-width: 1000px) {
			.compact div.cart.pull-right {
				margin: 30px 15px 0 25px
			}
		}

		.footer-bg {
			background: #B91319
		}

		body {
			font-family: 'Roboto', sans-serif;
			font-size: 15px
		}

		p {
			font-family: 'Roboto', sans-serif
		}

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			font-family: 'Roboto', sans-serif
		}

		.list-unstyled a:hover,
		.dropdown-menu>li>a:hover,
		.font-color,
		.iconbox,
		.navbar-default .navbar-nav > li > a:focus,
		.navbar-default .navbar-nav > li > a:hover,
		.icon-boxed.wide90,
		.view-links a,
		.sky-form a,
		.sky-form .checkbox input + i::after,
		.fea-col-box:hover .wide80 {
			color: #B91319
		}

		.ms-layer.btn3,
		.orange-button,
		.fea-col:hover .iconbox,
		.iconbox:hover,
		.iconbox.active,
		.orange-button.one,
		.title-line,
		.blue-button,
		.fea-sce-col:hover .icon-boxed,
		.fea-sce-col.active .icon-boxed,
		.carousel-indicators .active,
		.small-circle-no,
		.orange-button.two,
		ul.social-icons li a:hover,
		.pricing-box.style-1 div.price,
		.samll-grey-button:hover,
		.pricing-box.style-1:hover .samll-grey-button,
		.pricing-box.style-1.active .samll-grey-button,
		.sky-form .button.seven,
		.header-top.black-bg-light a.register-btn,
		.button a.boxed-color-sm.orange,
		.button a.boxed-color-xs.orange,
		.sec-col-left h2 span,
		.sec-col-right h2 span,
		.color-bg,
		.service-title-color,
		form .submit-btn,
		.compact .header.olivebg,
		h2.bg-color span,
		.team-thumb:hover .team-col .team-overlay,
		.team-thumb.active .team-col .team-overlay,
		.sky-form .button,
		.sec-title h2::before,
		.fea-col-box:hover,
		.tab-style .nav-tabs > li.active > a,
		.tab-style .nav-tabs > li.active > a:focus,
		.tab-style .nav-tabs > li.active > a:hover,
		.tab-style .nav-tabs > li > a:hover,
		.new-domin-list li,
		.carousel-indicators .active,
		.carousel-indicators.white-color .active,
		.price-info-circle,
		.pricing-box-home2 h2,
		.pricing-box-home2 .order,
		.collaps-style-2 .panel-default > .panel-heading,
		.bg-color-plain,
		.tab-style-1 .nav-tabs > li.active > a,
		.tab-style-1 .nav-tabs > li.active > a:focus,
		.tab-style-1 .nav-tabs > li.active > a:hover,
		.tab-style-1 .nav-tabs > li > a:hover,
		.small-circle-commet,
		.pricing-box-home5 h2,
		.pricing-box-home5:hover .price,
		.pricing-box-home5.active .price,
		.pricing-box-home5:hover .order-now,
		.pricing-box-home5.active .order-now,
		.two-color-boxes-multi {
			background: #B91319
		}

		.cart .cart-info,
		.button-cart,
		.button a.boxed-color-lg,
		.button a.boxed-color-lg.blue,
		.button a.boxed-color-lg.red,
		.button a.boxed-color-lg.green,
		.button a.boxed-color-lg.orange,
		.button a.boxed-color,
		.button a.boxed-color-sm,
		.button a.boxed-color-sm.blue,
		.button a.boxed-color-sm.red,
		.button a.boxed-color-sm.green,
		.button a.boxed-color-sm.orange,
		.button a.boxed-color-xs,
		.coffee .button a.boxed-color-xs,
		.button a.boxed-color-xs.blue,
		.button a.boxed-color-xs.red,
		.button a.boxed-color-xs.green,
		.button a.boxed-color-xs.orange,
		.flip .card .back,
		.flip .cardv .back,
		.call-to-action span,
		ul.social-icons li a:hover,
		ul.social-icons.team li a:hover,
		.fea-sce-col:hover .iconbox,
		.fea-sce-col.active .iconbox,
		.fea-sce-col:hover .icon-boxed.wide90,
		.fea-sce-col.active .icon-boxed.wide90 {
			background: #B91319
		}

		.title-line,
		ul.social-icons li a:hover {
			background-color: #B91319
		}

		.call-to-action:hover span,
		.menu-items .price,
		.skroll-header ul li.skroll-active a,
		a:focus,
		a:hover,
		a:active,
		.font-red,
		ul.nav>li>a.active,
		ul.nav>li>a:hover.active,
		.headr-style-2 .navbar-default .navbar-nav>li>a:hover {
			color: #B91319
		}

		.col-fea-box {
			background: #B91319;
			filter: alpha(opacity=80);
			opacity: 0.8
		}

		.orange-button,
		.blue-button,
		.samll-grey-button:hover,
		.pricing-box.style-1:hover .samll-grey-button,
		.pricing-box.style-1.active .samll-grey-button,
		.col-fea-box-white::before {
			border: solid 1px #B91319
		}

		.sky-form .radio input:checked + i,
		.sky-form .checkbox input:checked + i,
		.sky-form .toggle input:checked+i {
			border-color: #B91319
		}

		.scrollup {
			background: #B91319 url(http://fluentthemes.com/wp/butter/wp-content/themes/butter/images/scroll-top-arrow.png) no-repeat 15px 14px
		}

		.button-shop,
		.wc-forward,
		.woocommerce .return-to-shop .button.wc-backward,
		.woocommerce .login .button,
		.comment-form .form-submit .button {
			background: #B91319;
			border: 1px solid #B91319;
			color: #fff
		}

		.button-shop:hover,
		.wc-forward:hover,
		.woocommerce .return-to-shop .button.wc-backward:hover,
		.woocommerce .login .button:hover,
		.comment-form .form-submit .button:hover {
			background: #222;
			color: #fff;
			border: 1px solid #222
		}

		.dlink,
		.zoom {
			color: #B91319 !important
		}

		.dlink:hover,
		.zoom:hover {
			color: #fff !important;
			background-color: #B91319 !important
		}

		.products .product .onsale {
			background: #B91319 !important
		}

		.pagination-button {
			padding: 10px !important;
			color: #fff !important;
			background-color: #B91319;
			border: none
		}

		.amount {
			color: #B91319 !important
		}

		.star-rating span {
			color: #B91319 !important
		}

		.shop-page .list ul li:before {
			position: relative;
			top: 0;
			left: 0;
			content: "\f0da";
			font-family: 'FontAwesome';
			font-size: 14px;
			color: #B91319;
			margin-right: 10px;
			font-style: normal;
			font-weight: normal;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale
		}

		.pagination-custom .pagination-button:hover {
			background-color: #B91319;
			border-color: #B91319
		}

		.single-prodcut .tabs .nav-tabs > li.active > a,
		.tabbed-widget .tabs .nav-tabs > li.active > a,
		.shop-with-sidebar .widget .title > a,
		.shopping-cart .cart-table tbody > tr > td > a,
		.shop-checkout .cart-table a,
		.shop-checkout .panel-group .panel-body label span,
		.page-shop-login label span {
			color: #B91319
		}

		.single-prodcut .tabs .nav-tabs > li.active > a:after,
		.tabbed-widget .tabs .nav-tabs > li.active > a:after .shop-checkout .panel-group .panel-title>a {
			background-color: #B91319
		}

		.woocommerce-message .button.wc-forward {
			background: #B91319 none repeat scroll 0 0
		}

		.summary.entry-summary ul li:before,
		.woocommerce-tabs.wc-tabs-wrapper ul li:before {
			color: #B91319
		}

		.woocommerce div.product form.cart .button,
		.coupon input.button,
		.checkout_coupon input.button,
		.login input.button,
		.login input.button:hover,
		.cart .actions input.button,
		.woocommerce div.product form.cart .button:hover,
		.coupon input.button:hover,
		.checkout_coupon input.button:hover,
		.cart .actions input.button:hover,
		#review_form footer button,
		.woocommerce-tabs ul.tabs li.active,
		.woocommerce-tabs ul.tabs li:hover,
		.woocommerce .product ul.tabs li.active a,
		.woocommerce .product ul.tabs li:hover a,
		.tags li a:hover,
		.tagcloud a:hover {
			background-color: #B91319
		}

		.pagination-button {
			background-color: #B91319
		}

		.dlink,
		.zoom {
			color: #B91319 !important
		}

		.dlink:hover,
		.zoom:hover {
			background-color: #B91319 !important
		}

		.products .product .onsale {
			background: #B91319 !important
		}

		.amount {
			color: #B91319 !important
		}

		.star-rating span {
			color: #B91319 !important
		}

		.list ul li:before {
			color: #B91319
		}

		.button-shop {
			background: #B91319 none repeat scroll 0 0;
			border: 1px solid #B91319
		}

		.pagination-custom .pagination-button:hover {
			background-color: #B91319;
			border-color: #B91319
		}

		.shop-with-sidebar .widget .title>a {
			color: #B91319
		}

		.single-prodcut .tabs .nav-tabs > li.active > a:after,
		.tabbed-widget .tabs .nav-tabs>li.active>a:after {
			background: #B91319
		}

		.single-prodcut .tabs .nav-tabs > li.active > a,
		.tabbed-widget .tabs .nav-tabs>li.active>a {
			color: #B91319
		}

		.shopping-cart .cart-table tbody>tr>td>a {
			color: #B91319
		}

		.shop-checkout .panel-group .panel-title>a {
			background-color: #B91319
		}

		.shop-checkout .cart-table a {
			color: #B91319
		}

		.shop-checkout .panel-group .panel-body label span {
			color: #B91319
		}

		.page-shop-login label span {
			color: #B91319
		}

		.woocommerce .widget_price_filter .ui-slider .ui-slider-range,
		.woocommerce .widget_price_filter .ui-slider .ui-slider-handle {
			background-color: #B91319 !important
		}

		.butter_sidebar .c-post-title a {
			color: #6d6d6d
		}

		.butter_sidebar .c-post-title a:hover {
			color: #B91319
		}

		#comments .form-submit button {
			margin-bottom: 80px !important
		}

		@media only screen and (min-width: 1000px) and (max-width: 1100px) {
			.compact .header .navbar-nav>li>a {
				padding-top: 30px
			}
			.navbar-nav>li>.dropdown-menu {
				margin-top: -9px
			}
		}
	</style>
	<noscript>
		<style type="text/css">
			.wpb_animate_when_almost_visible {
				opacity: 1
			}
		</style>
	</noscript>
	<script data-no-minify="1" data-cfasync="false">
		(function(w, d) {
			function a() {
				var b = d.createElement("script");
				b.async = !0;
				b.src = "http://fluentthemes.com/wp/butter/wp-content/plugins/wp-rocket/inc/front/js/lazyload.1.0.5.min.js";
				var a = d.getElementsByTagName("script")[0];
				a.parentNode.insertBefore(b, a)
			}
			w.attachEvent ? w.attachEvent("onload", a) : w.addEventListener("load", a, !1)
		})(window, document);
	</script>
</head>

<body class="page-template page-template-page-vc page-template-page-vc-php page page-id-1064 page-child parent-pageid-4 wpb-js-composer js-comp-ver-5.0.1 vc_responsive">
	<div class="site_wrapper">
		<header class="header headr-style-2">
			<div class="container">
				<div class="row">
					<div class="navbar yamm navbar-default">
						<div class="container">
							<div class="navbar-header">
								<button type="button" data-toggle="collapse" data-target="#navbar-collapse-1" class="navbar-toggle"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
								<a class="" href="http://fluentthemes.com/wp/butter/"><img class="img-responsive butter_logo" alt="logo" src="images/mmammaspot_white_171.png"></a>
							</div>
							<div id="navbar-collapse-1" class="navbar-collapse collapse pull-right dark-color nopadding">
								<nav class="menu-onepage-restaurant-container">
									<ul id="menu-onepage-restaurant" class="nav navbar-nav menu-even">
										<li id="nav-menu-item-1073" class="dropdown   menu-item-even menu-item-depth-0 ps2id menu-item menu-item-type-custom menu-item-object-custom current-menu-item">
											<a rel="m_PageScroll2id" href="/#home" class="menu-link dropdown-toggle">Home</a>
										</li>
										<li id="nav-menu-item-1074" class="dropdown   menu-item-even menu-item-depth-0 ps2id menu-item menu-item-type-custom menu-item-object-custom current-menu-item"><a rel="m_PageScroll2id" href="/#about" class="menu-link dropdown-toggle">About Us</a>
										</li>
										<li id="nav-menu-item-1075" class="dropdown   menu-item-even menu-item-depth-0 ps2id menu-item menu-item-type-custom menu-item-object-custom current-menu-item"><a rel="m_PageScroll2id" href="/#menu" class="menu-link dropdown-toggle">Menu</a>
										</li>
										<li id="nav-menu-item-1076" class="dropdown   menu-item-even menu-item-depth-0 ps2id menu-item menu-item-type-custom menu-item-object-custom current-menu-item"><a rel="m_PageScroll2id" href="/#reservation" class="menu-link dropdown-toggle">Order</a>
										</li>
										<li id="nav-menu-item-1077" class="dropdown   menu-item-even menu-item-depth-0 ps2id menu-item menu-item-type-custom menu-item-object-custom current-menu-item"><a rel="m_PageScroll2id" href="/#services" class="menu-link dropdown-toggle">Featured cuisines</a>
										</li>
										<li id="nav-menu-item-1123" class="dropdown   menu-item-even menu-item-depth-0 ps2id menu-item menu-item-type-custom menu-item-object-custom current-menu-item"><a rel="m_PageScroll2id" href="/#chef" class="menu-link dropdown-toggle">Our Chef</a>
										</li>
										<li id="nav-menu-item-1124" class="dropdown   menu-item-even menu-item-depth-0 ps2id menu-item menu-item-type-custom menu-item-object-custom current-menu-item"><a rel="m_PageScroll2id" href="/#reviews" class="menu-link dropdown-toggle">Reviews</a>
										</li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
		<div class="container">
			<div id="home" class="vc_row wpb_row vc_row-fluid " style=" ">
				<div class="wpb_column vc_column_container vc_col-sm-12">
					<div class="vc_column-inner ">
						<div class="wpb_wrapper">
							<div class="wpb_raw_code wpb_content_element wpb_raw_html">
								<div class="wpb_wrapper">
									<div class="master-slider ms-skin-default" id="masterslider">
										<div class="ms-slide slide-1" data-delay="14"> 
											<img src="https://s3.eu-west-2.amazonaws.com/mamaspot.images/blank.gif" data-src="	https://s3.eu-west-2.amazonaws.com/mamaspot.images/restaurant-slider-bg.jpg" alt="Slide1 background" /> 
											<img src="	https://s3.eu-west-2.amazonaws.com/mamaspot.images/blank.gif" data-src="images/mmammaspot_square_white&red.png" alt="Master Slider" style="left:430px; top:260px;" class="ms-layer badge-logo" data-type="image" data-delay="1000" data-duration="2500" data-effect="top(480,false)" data-ease="easeOutExpo" />
											<h3 class="ms-layer text1 one full-wid text-center font-white uppercase" style="left:0; top:440px;" data-type="text" data-delay="2000" data-duration="2000" data-ease="easeOutExpo" data-effect="rotate3dtop(-100,0,0,40,t)">Memorable Experience</h3>
											<h3 class="ms-layer title2 one font-sbold font-white uppercase text-center" style="left:0;top: 500px;" data-type="text" data-delay="2500" data-duration="2500" data-ease="easeOutExpo" data-effect="rotate3dtop(-100,0,0,40,t)">With delicious food from Mama's pot</h3>
										</div>
										<div class="ms-slide slide-2" data-delay="14"> 
											<img src="	https://s3.eu-west-2.amazonaws.com/mamaspot.images/blank.gif" data-src="https://s3.eu-west-2.amazonaws.com/mamaspot.images/restaurant-slider-bg1.jpg" alt="Slide1 background" />
											<h3 class="ms-layer text1 one full-wid text-center font-white uppercase" style="left:0; top:330px;" data-type="text" data-delay="800" data-duration="2000" data-ease="easeOutExpo" data-effect="rotate3dtop(-100,0,0,40,t)">Get fine DINING</h3>
											<h3 class="ms-layer title2 one font-sbold font-white uppercase text-center" style="left:0;top: 380px;" data-type="text" data-delay="1500" data-duration="2500" data-ease="easeOutExpo" data-effect="rotate3dtop(-100,0,0,40,t)">Freshly Prepared Food</h3>
											<h5 class="ms-layer text1 full-wid font-white uppercase text-center" style="left:0px; top:490px;" data-type="text" data-effect="bottom(45)" data-duration="3000" data-delay="2000" data-ease="easeOutExpo">Mama's pot, Since 2015</h5>
										</div>
										<div class="ms-slide slide-3" data-delay="14"> <img src="	https://s3.eu-west-2.amazonaws.com/mamaspot.images/blank.gif" data-src="https://s3.eu-west-2.amazonaws.com/mamaspot.images/restaurant-slider-bg2.jpg" alt="Slide1 background" />
											<h3 class="ms-layer text1 one full-wid text-center font-white uppercase" style="left:0; top:330px;" data-type="text" data-delay="800" data-duration="2000" data-ease="easeOutExpo" data-effect="rotate3dtop(-100,0,0,40,t)">Memorable Experience</h3>
											<h3 class="ms-layer title2 one font-sbold font-white uppercase text-center" style="left:0;top: 380px;" data-type="text" data-delay="1500" data-duration="2500" data-ease="easeOutExpo" data-effect="rotate3dtop(-100,0,0,40,t)">healthy &amp; Tasty Food</h3>
											<h5 class="ms-layer text1 full-wid font-white uppercase text-center" style="left:0px; top:490px;" data-type="text" data-effect="bottom(45)" data-duration="3000" data-delay="2000" data-ease="easeOutExpo">Mama's pot, Since 2015</h5></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div id="about" class="vc_row wpb_row vc_row-fluid " style=" padding-bottom: 80px; padding-top: 80px; ">
					<div class="wpb_column vc_column_container vc_col-sm-12">
						<div class="vc_column-inner ">
							<div class="wpb_wrapper">
								<div class="section-lg">
									<div class="container">
										<div class="row">
											<div class="col-md-6 col-sm-6 m-top4">
												<div class="section-titles text-center uppercase">
													<h4 class="font-grey-light font15 font-bold">WELCOME TO</h4>
													<h2 class="font-color font40 font-bold">Mama's Pot</h2></div>
													<p class="font-grey font18 font-thin italic line-height30 text-center">Pellentesque mi purus, eleifend sedt commodo vel, sagittis elts vesti ulum dui sagittis mlste sagittis elts. Exercitation photo booth that is end stumptown tote bag Banksy, elit small batch freegan sed craft a beer elit seitan exercitation, photo booth et kale chips hillwave deep laborum mlste sagittis sunt culpa only oficia.
														<br> <img width="274" height="51" src="data:image/gif;base64,R0lGODdhAQABAPAAAP///wAAACwAAAAAAQABAEACAkQBADs=" data-lazy-src="	https://s3.eu-west-2.amazonaws.com/mamaspot.images/site-img04.jpg" class="m-top3 attachment-full" alt="" />
														<noscript><img width="274" height="51" src="	https://s3.eu-west-2.amazonaws.com/mamaspot.images/site-img04.jpg" class="m-top3 attachment-full" alt="" /></noscript>
													</p>
												</div>
												<div class="col-md-6 col-sm-6"><img width="554" height="396" src="data:image/gif;base64,R0lGODdhAQABAPAAAP///wAAACwAAAAAAQABAEACAkQBADs=" data-lazy-src="	https://s3.eu-west-2.amazonaws.com/mamaspot.images/site-img03.jpg" class="img-responsive attachment-full" alt="" data-lazy-srcset="	https://s3.eu-west-2.amazonaws.com/mamaspot.images/site-img03.jpg 554w, images/site-img03-300x214.jpg 300w" data-lazy-sizes="(max-width: 554px) 100vw, 554px" />
													<noscript><img width="554" height="396" src="	https://s3.eu-west-2.amazonaws.com/mamaspot.images/site-img03.jpg" class="img-responsive attachment-full" alt="" srcset="https://s3.eu-west-2.amazonaws.com/mamaspot.images/site-img03.jpg 554w, images/site-img03-300x214.jpg 300w" sizes="(max-width: 554px) 100vw, 554px" /></noscript>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div data-vc-full-width="true" data-vc-full-width-init="false" data-vc-stretch-content="true" class="vc_row wpb_row vc_row-fluid vc_row-no-padding " style=" ">
						<div class="wpb_column vc_column_container vc_col-sm-12">
							<div class="vc_column-inner ">
								<div class="wpb_wrapper">
									<div class="section-lg gery-bg one m-top0">
										<div class="container">
											<div class="text-center">
												<h2 class="font30 font-thin m-bottom2">Local tasty meals everyday!</h2>
												<p class="font20 font-thin">Enjoy the best of African dishes that will take you home for a brief moment!</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="vc_row-full-width"></div>
					<div id="menu" class="vc_row wpb_row vc_row-fluid " style=" padding-bottom: 60px; ">
						<div class="wpb_column vc_column_container vc_col-sm-12">
							<div class="vc_column-inner ">
								<div class="wpb_wrapper">
									<div class="section-lg m-top8">
										<div class="container">
											<div id="js-filters-awesome-work" class="cbp-l-filters-work">
												<div data-filter="*" class="cbp-filter-item-active cbp-filter-item"> SHOW ALL</div>
												<div data-filter=".RICE" class="cbp-filter-item"> RICE</div>
												<div data-filter=".PORRIDGE" class="cbp-filter-item"> PORRIDGES</div>
												<div data-filter=".STEW" class="cbp-filter-item"> STEWS</div>
												<div data-filter=".SOUP" class="cbp-filter-item"> SOUP</div>
											</div>
											<div id="js-grid-awesome-work" class="cbp cbp-l-grid-work">
												<div class="cbp-item RICE">
													<div class="menu-card">
														<div class="menu-img">
															<a href="#"><img alt="" src="data:image/gif;base64,R0lGODdhAQABAPAAAP///wAAACwAAAAAAQABAEACAkQBADs=" data-lazy-src="https://s3.eu-west-2.amazonaws.com/mamaspot.images/menu/jollof-rice.jpg">
																<noscript><img alt="" src="	https://s3.eu-west-2.amazonaws.com/mamaspot.images/site-img28.jpg"></noscript>
															</a>
														</div>
														<div class="menu-items">
															<h3><a style="color:#010101;" href="#">Jellof Rice</a></h3> <span class="price">$4.95</span>
															<div class="dotted-lines"></div>
														</div>
														<p>A traditional chicken soup delicately spiced.</p>
													</div>
												</div>
												<div class="cbp-item PORRIDGE">
													<div class="menu-card">
														<div class="menu-img">
															<a href="#"><img alt="" src="data:image/gif;base64,R0lGODdhAQABAPAAAP///wAAACwAAAAAAQABAEACAkQBADs=" data-lazy-src="	https://s3.eu-west-2.amazonaws.com/mamaspot.images/menu/yampo.jpg">
																<noscript><img alt="" src="	https://s3.eu-west-2.amazonaws.com/mamaspot.images/menu/yampo.jpg"></noscript>
															</a>
														</div>
														<div class="menu-items">
															<h3><a style="color:#010101;" href="#">Yam porridge</a></h3> <span class="price">$5.95</span>
															<div class="dotted-lines"></div>
														</div>
														<p>Spongy milky balls soaked in rose and butter milk.</p>
													</div>
												</div>
												<div class="cbp-item SOUP STEW">
													<div class="menu-card">
														<div class="menu-img">
															<a href="#"><img alt="" src="data:image/gif;base64,R0lGODdhAQABAPAAAP///wAAACwAAAAAAQABAEACAkQBADs=" data-lazy-src="https://s3.eu-west-2.amazonaws.com/mamaspot.images/menu/ofe+akwu.jpg">
																<noscript><img alt="" src="https://s3.eu-west-2.amazonaws.com/mamaspot.images/menu/ofe+akwu.jpg"></noscript>
															</a>
														</div>
														<div class="menu-items">
															<h3><a style="color:#010101;" href="#">Ofe Akwu </a></h3> <span class="price">$3.95</span>
															<div class="dotted-lines"></div>
														</div>
														<p>Tomato soup prepared tomato and herbs.</p>
													</div>
												</div>
												<div class="cbp-item SOUP">
													<div class="menu-card">
														<div class="menu-img">
															<a href="#"><img alt="" src="data:image/gif;base64,R0lGODdhAQABAPAAAP///wAAACwAAAAAAQABAEACAkQBADs=" data-lazy-src="	https://s3.eu-west-2.amazonaws.com/mamaspot.images/menu/afang+soup.jpg">
																<noscript><img alt="" src="	https://s3.eu-west-2.amazonaws.com/mamaspot.images/menu/afang+soup.jpg"></noscript>
															</a>
														</div>
														<div class="menu-items">
															<h3><a style="color:#010101;" href="#">Afang soup</a></h3> <span class="price">$3.95</span>
															<div class="dotted-lines"></div>
														</div>
														<p>An exotic soup of chopped mixed vegetables.</p>
													</div>
												</div>
												<div class="cbp-item RICE">
													<div class="menu-card">
														<div class="menu-img">
															<a href="#"><img alt="" src="data:image/gif;base64,R0lGODdhAQABAPAAAP///wAAACwAAAAAAQABAEACAkQBADs=" data-lazy-src="	https://s3.eu-west-2.amazonaws.com/mamaspot.images/menu/coconut+rice.jpg">
																<noscript><img alt="" src="	https://s3.eu-west-2.amazonaws.com/mamaspot.images/menu/coconut+rice.jpg"></noscript>
															</a>
														</div>
														<div class="menu-items">
															<h3><a style="color:#010101;" href="#">Coconut Rice</a></h3> <span class="price">$3.95</span>
															<div class="dotted-lines"></div>
														</div>
														<p>Fresh vegetable stock with kernel corn</p>
													</div>
												</div>
												<div class="cbp-item PORRIDGE SOUP">
													<div class="menu-card">
														<div class="menu-img">
															<a href="#"><img alt="" src="data:image/gif;base64,R0lGODdhAQABAPAAAP///wAAACwAAAAAAQABAEACAkQBADs=" data-lazy-src="	https://s3.eu-west-2.amazonaws.com/mamaspot.images/menu/plantain+porridge.jpg">
																<noscript><img alt="" src="	https://s3.eu-west-2.amazonaws.com/mamaspot.images/menu/plantain+porridge.jpg"></noscript>
															</a>
														</div>
														<div class="menu-items">
															<h3><a style="color:#010101;" href="#">Plantain Porridge</a></h3> <span class="price">$4.95</span>
															<div class="dotted-lines"></div>
														</div>
														<p>A traditional chicken samosa delicately spiced.</p>
													</div>
												</div>
												<div class="cbp-item STEW">
													<div class="menu-card">
														<div class="menu-img">
															<a href="#"><img alt="" src="data:image/gif;base64,R0lGODdhAQABAPAAAP///wAAACwAAAAAAQABAEACAkQBADs=" data-lazy-src="	https://s3.eu-west-2.amazonaws.com/mamaspot.images/menu/tomato+stew.jpg">
																<noscript><img alt="" src="	https://s3.eu-west-2.amazonaws.com/mamaspot.images/menu/tomato+stew.jpg"></noscript>
															</a>
														</div>
														<div class="menu-items">
															<h3><a style="color:#010101;" href="#">Tomato stew</a></h3> <span class="price">$6.95</span>
															<div class="dotted-lines"></div>
														</div>
														<p>Chicken cubes are well marinated in secret spices.</p>
													</div>
												</div>
												<div class="cbp-item SOUP">
													<div class="menu-card">
														<div class="menu-img">
															<a href="#"><img alt="" src="data:image/gif;base64,R0lGODdhAQABAPAAAP///wAAACwAAAAAAQABAEACAkQBADs=" data-lazy-src="	https://s3.eu-west-2.amazonaws.com/mamaspot.images/menu/vegetable+soup.jpg">
																<noscript><img alt="" src="	https://s3.eu-west-2.amazonaws.com/mamaspot.images/menu/vegetable+soup.jpg"></noscript>
															</a>
														</div>
														<div class="menu-items">
															<h3><a style="color:#010101;" href="#">Vegetable soup</a></h3> <span class="price">$3.95</span>
															<div class="dotted-lines"></div>
														</div>
														<p>Chicken soup made in Tandoor Oven.</p>
													</div>
												</div>
												<div class="cbp-item RICE">
													<div class="menu-card">
														<div class="menu-img">
															<a href="#"><img alt="" src="data:image/gif;base64,R0lGODdhAQABAPAAAP///wAAACwAAAAAAQABAEACAkQBADs=" data-lazy-src="https://s3.eu-west-2.amazonaws.com/mamaspot.images/menu/fried+rice.jpg">
																<noscript><img alt="" src="https://s3.eu-west-2.amazonaws.com/mamaspot.images/menu/fried+rice.jpg"></noscript>
															</a>
														</div>
														<div class="menu-items">
															<h3><a style="color:#010101;" href="#">Fried Rice</a></h3> <span class="price">$4.95</span>
															<div class="dotted-lines"></div>
														</div>
														<p>Boneless juicy chunks of chicken in aromatic.</p>
													</div>
												</div>
												<div class="cbp-item PORRIDGE SOUP">
													<div class="menu-card">
														<div class="menu-img">
															<a href="#"><img alt="" src="data:image/gif;base64,R0lGODdhAQABAPAAAP///wAAACwAAAAAAQABAEACAkQBADs=" data-lazy-src="	https://s3.eu-west-2.amazonaws.com/mamaspot.images/menu/ekpangnkukwo.jpg">
																<noscript><img alt="" src="	https://s3.eu-west-2.amazonaws.com/mamaspot.images/menu/ekpangnkukwo.jpg"></noscript>
															</a>
														</div>
														<div class="menu-items">
															<h3><a style="color:#010101;" href="#">Ekpangnkukwo </a></h3> <span class="price">$5.95</span>
															<div class="dotted-lines"></div>
														</div>
														<p>with cowleg (special order)</p>
													</div>
												</div>
												<div class="cbp-item STEW">
													<div class="menu-card">
														<div class="menu-img">
															<a href="#"><img alt="" src="data:image/gif;base64,R0lGODdhAQABAPAAAP///wAAACwAAAAAAQABAEACAkQBADs=" data-lazy-src="https://s3.eu-west-2.amazonaws.com/mamaspot.images/menu/ofada+stew.jpg">
																<noscript><img alt="" src="https://s3.eu-west-2.amazonaws.com/mamaspot.images/menu/ofada+stew.jpg"></noscript>
															</a>
														</div>
														<div class="menu-items">
															<h3><a style="color:#010101;" href="#">Ofada stew</a></h3> <span class="price">$2.95</span>
															<div class="dotted-lines"></div>
														</div>
														<p>Boiled eggs cooked in masala sauce.</p>
													</div>
												</div>
												<div class="cbp-item SOUP STEW">
													<div class="menu-card">
														<div class="menu-img">
															<a href="#"><img alt="" src="data:image/gif;base64,R0lGODdhAQABAPAAAP///wAAACwAAAAAAQABAEACAkQBADs=" data-lazy-src="https://s3.eu-west-2.amazonaws.com/mamaspot.images/menu/egusi+soup.jpg">
																<noscript><img alt="" src="https://s3.eu-west-2.amazonaws.com/mamaspot.images/menu/egusi+soup.jpg"></noscript>
															</a>
														</div>
														<div class="menu-items">
															<h3><a style="color:#010101;" href="#">Egusi soup</a></h3> <span class="price">$4.95</span>
															<div class="dotted-lines"></div>
														</div>
														<p>Cubes of cottage cheese marinated in yogurt.</p>
													</div>
												</div>
												<div class="cbp-item SOUP">
													<div class="menu-card">
														<div class="menu-img">
															<a href="#"><img alt="" src="data:image/gif;base64,R0lGODdhAQABAPAAAP///wAAACwAAAAAAQABAEACAkQBADs=" data-lazy-src="https://s3.eu-west-2.amazonaws.com/mamaspot.images/menu/ogbono+okra+.jpg">
																<noscript><img alt="" src="https://s3.eu-west-2.amazonaws.com/mamaspot.images/menu/ogbono+okra+.jpg"></noscript>
															</a>
														</div>
														<div class="menu-items">
															<h3><a style="color:#010101;" href="#">Ogbono & Okra</a></h3> <span class="price">$4.95</span>
															<div class="dotted-lines"></div>
														</div>
														<p>Cubes of cottage cheese marinated in yogurt.</p>
													</div>
												</div>
												<div class="cbp-item SOUP">
													<div class="menu-card">
														<div class="menu-img">
															<a href="#"><img alt="" src="data:image/gif;base64,R0lGODdhAQABAPAAAP///wAAACwAAAAAAQABAEACAkQBADs=" data-lazy-src="	https://s3.eu-west-2.amazonaws.com/mamaspot.images/menu/ogbono+vegetable.jpg">
																<noscript><img alt="" src="	https://s3.eu-west-2.amazonaws.com/mamaspot.images/menu/ogbono+vegetable.jpg"></noscript>
															</a>
														</div>
														<div class="menu-items">
															<h3><a style="color:#010101;" href="#">Ogbono & vegetable</a></h3> <span class="price">$4.95</span>
															<div class="dotted-lines"></div>
														</div>
														<p>Cubes of cottage cheese marinated in yogurt.</p>
													</div>
												</div>
												<div class="cbp-item STEW PORRIDGE">
													<div class="menu-card">
														<div class="menu-img">
															<a href="#"><img alt="" src="data:image/gif;base64,R0lGODdhAQABAPAAAP///wAAACwAAAAAAQABAEACAkQBADs=" data-lazy-src="	https://s3.eu-west-2.amazonaws.com/mamaspot.images/menu/chicken+sauce.jpg">
																<noscript><img alt="" src="	https://s3.eu-west-2.amazonaws.com/mamaspot.images/menu/chicken+sauce.jpg"></noscript>
															</a>
														</div>
														<div class="menu-items">
															<h3><a style="color:#010101;" href="#">Chicken sauce</a></h3> <span class="price">$4.95</span>
															<div class="dotted-lines"></div>
														</div>
														<p>Curry chicken sauce commonly used as rice stew.</p>
													</div>
												</div>
												<div class="cbp-item SOUP">
													<div class="menu-card">
														<div class="menu-img">
															<a href="#"><img alt="" src="data:image/gif;base64,R0lGODdhAQABAPAAAP///wAAACwAAAAAAQABAEACAkQBADs=" data-lazy-src="https://s3.eu-west-2.amazonaws.com/mamaspot.images/menu/okra+soup.jpg">
																<noscript><img alt="" src="https://s3.eu-west-2.amazonaws.com/mamaspot.images/menu/okra+soup.jpg"></noscript>
															</a>
														</div>
														<div class="menu-items">
															<h3><a style="color:#010101;" href="#">Okra soup</a></h3> <span class="price">$4.95</span>
															<div class="dotted-lines"></div>
														</div>
														<p>Cubes of cottage cheese marinated in yogurt.</p>
													</div>
												</div>
												<div class="cbp-item SOUP STEW">
													<div class="menu-card">
														<div class="menu-img">
															<a href="#"><img alt="" src="data:image/gif;base64,R0lGODdhAQABAPAAAP///wAAACwAAAAAAQABAEACAkQBADs=" data-lazy-src="https://s3.eu-west-2.amazonaws.com/mamaspot.images/menu/white+soup.jpg">
																<noscript><img alt="" src="https://s3.eu-west-2.amazonaws.com/mamaspot.images/menu/white+soup.jpg"></noscript>
															</a>
														</div>
														<div class="menu-items">
															<h3><a style="color:#010101;" href="#">White soup</a></h3> <span class="price">$4.95</span>
															<div class="dotted-lines"></div>
														</div>
														<p>Cubes of cottage cheese marinated in yogurt.</p>
													</div>
												</div>
												<div class="cbp-item SOUP">
													<div class="menu-card">
														<div class="menu-img">
															<a href="#"><img alt="" src="data:image/gif;base64,R0lGODdhAQABAPAAAP///wAAACwAAAAAAQABAEACAkQBADs=" data-lazy-src="https://s3.eu-west-2.amazonaws.com/mamaspot.images/menu/banga+soup.jpg">
																<noscript><img alt="" src="https://s3.eu-west-2.amazonaws.com/mamaspot.images/menu/banga+soup.jpg"></noscript>
															</a>
														</div>
														<div class="menu-items">
															<h3><a style="color:#010101;" href="#">Banga soup</a></h3> <span class="price">$4.95</span>
															<div class="dotted-lines"></div>
														</div>
														<p>Cubes of cottage cheese marinated in yogurt.</p>
													</div>
												</div>
												<div class="cbp-item SOUP">
													<div class="menu-card">
														<div class="menu-img">
															<a href="#"><img alt="" src="data:image/gif;base64,R0lGODdhAQABAPAAAP///wAAACwAAAAAAQABAEACAkQBADs=" data-lazy-src="	https://s3.eu-west-2.amazonaws.com/mamaspot.images/menu/fisherman+soup.jpg">
																<noscript><img alt="" src="	https://s3.eu-west-2.amazonaws.com/mamaspot.images/menu/fisherman+soup.jpg"></noscript>
															</a>
														</div>
														<div class="menu-items">
															<h3><a style="color:#010101;" href="#">Fisherman's soup</a></h3> <span class="price">$4.95</span>
															<div class="dotted-lines"></div>
														</div>
														<p>Cubes of cottage cheese marinated in yogurt.</p>
													</div>
												</div>
												<div class="cbp-item SOUP">
													<div class="menu-card">
														<div class="menu-img">
															<a href="#"><img alt="" src="data:image/gif;base64,R0lGODdhAQABAPAAAP///wAAACwAAAAAAQABAEACAkQBADs=" data-lazy-src="https://s3.eu-west-2.amazonaws.com/mamaspot.images/menu/eforiro+soup.jpg">
																<noscript><img alt="" src="https://s3.eu-west-2.amazonaws.com/mamaspot.images/menu/eforiro+soup.jpg"></noscript>
															</a>
														</div>
														<div class="menu-items">
															<h3><a style="color:#010101;" href="#">Eforiro soup</a></h3> <span class="price">$4.95</span>
															<div class="dotted-lines"></div>
														</div>
														<p>Cubes of cottage cheese marinated in yogurt.</p>
													</div>
												</div>
												<div class="cbp-item SOUP">
													<div class="menu-card">
														<div class="menu-img">
															<a href="#"><img alt="" src="data:image/gif;base64,R0lGODdhAQABAPAAAP///wAAACwAAAAAAQABAEACAkQBADs=" data-lazy-src="	https://s3.eu-west-2.amazonaws.com/mamaspot.images/menu/Gizdodo.jpg">
																<noscript><img alt="" src="	https://s3.eu-west-2.amazonaws.com/mamaspot.images/menu/Gizdodo.jpg"></noscript>
															</a>
														</div>
														<div class="menu-items">
															<h3><a style="color:#010101;" href="#">Gizdodo</a></h3> <span class="price">$4.95</span>
															<div class="dotted-lines"></div>
														</div>
														<p>Cubes of cottage cheese marinated in yogurt.</p>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div id="reservation" data-vc-full-width="true" data-vc-full-width-init="false" data-vc-stretch-content="true" class="vc_row wpb_row vc_row-fluid vc_row-no-padding " style=" ">
						<div class="wpb_column vc_column_container vc_col-sm-12">
							<div class="vc_column-inner ">
								<div class="wpb_wrapper">
									<div class="section-lg bg-parallax one">
										<div class="container">
											<div class="row">
												<div class="col-md-10 sec-auto-margin">
													<div class="section-titles text-center uppercase ">
														<h4 class="font-white font15 font-bold">MAKE AN</h4>
														<h2 class="font-white font40 font-bold">ORDER</h2></div>
														<p class="font-white font5 text-center m-bottom4" style="font-size:11px"><i>(Orders take a minimum of two days before delivery)</i></p>
														<form action="http://fluentthemes.com/wp/butter/wp-content/themes/butter/subscribe/reservation-process.php" method="post" enctype="multipart/form-data" id="sky-form" class="sky-form">
															<fieldset>
																<div class="row">
																	<div class="col col-6 m-bottom2">
																		<label class="input"> <i class="icon-append fa fa-user"></i>
																			<input type="text" name="name" placeholder="Name"> </label>
																		</div>
																		<div class="col col-6 m-bottom2">
																			<label class="input"> <i class="icon-append fa fa-phone"></i>
																				<input type="tel" name="phone" placeholder="Phone"> </label>
																			</div>
																		</div>
																		<div class="row">
																			<div class="col col-6 m-bottom2">
																				<label class="input"> <i class="icon-append fa fa-users"></i>
																					<input type="number" name="budget" placeholder="Number of plates/packs">
																				</label>
																			</div>
																			<div class="col col-6 m-bottom2">
																				<label class="input"> <i class="icon-append fa fa-calendar"></i>
																					<input type="text" name="start" id="start" placeholder="Date"> </label>
																				</div>
																			</div>
																		</fieldset>
																		<fieldset>
																			<div class="m-bottom2">
																				<label class="input"> <i class="icon-append fa fa-envelope-o"></i>
																					<input type="email" name="email" placeholder="E-mail"> </label>
																				</div>
																				<div class="m-bottom2">
																					<label class="textarea"> <i class="icon-append fa fa-comment"></i>
																						<textarea rows="5" name="interested" placeholder="Notes or special requirements"></textarea>
																					</label>
																				</div>
																				<div class="section" style="float:left;">
																					<input type="hidden" name="reservation-submit" id="reservation-submit" value="true" />
																				</div>
																			</fieldset>
																			<footer>
																				<button type="submit" class="button">Order Now!</button>
																				<div class="progress"></div>
																			</footer>
																			<div class="message"> <i class="fa fa-check"></i>
																				<p>Thank you. You will be contacted soon 🙂</p>
																			</div>
																		</form>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="vc_row-full-width"></div>
										<div id="chef" class="vc_row wpb_row vc_row-fluid " style=" padding-top: 80px; ">
											<div class="wpb_column vc_column_container vc_col-sm-12">
												<div class="vc_column-inner ">
													<div class="wpb_wrapper">
														<div class="section-titles text-center uppercase m-bottom4">
															<h4 class="font-grey-light font15 font-bold">Featured</h4>
															<h2 class="font-color font40 font-bold">Cuisines</h2></div>
														</div>
													</div>
												</div>
											</div>
											<div id="services" class="vc_row wpb_row vc_row-fluid " style=" padding-top: 80px; ">
												<div class="wpb_column vc_column_container vc_col-sm-4">
													<div class="vc_column-inner ">
														<div class="wpb_wrapper">
															<div class="m-bottom6">
																<div class="services-we-do">
																	<div class="post-img">
																		<a href="#"><img width="700" height="500" src="data:image/gif;base64,R0lGODdhAQABAPAAAP///wAAACwAAAAAAQABAEACAkQBADs=" data-lazy-src="https://s3.eu-west-2.amazonaws.com/mamaspot.images/featured/yampo.jpg" class="img-responsive attachment-full" alt="" data-lazy-srcset="https://s3.eu-west-2.amazonaws.com/mamaspot.images/featured/yampo.jpg 700w, images/site-img18-300x214.jpg 300w" data-lazy-sizes="(max-width: 700px) 100vw, 700px" />
																			<noscript><img width="700" height="500" src="https://s3.eu-west-2.amazonaws.com/mamaspot.images/featured/yampo.jpg" class="img-responsive attachment-full" alt="" srcset="https://s3.eu-west-2.amazonaws.com/mamaspot.images/featured/yampo.jpg 700w, images/site-img18-300x214.jpg 300w" sizes="(max-width: 700px) 100vw, 700px" /></noscript>
																		</a><span class="dine-time">YAM PORRIDGE</span></div>
																		<div class="service-info">
																			<p>Excepteur sit occaecat cupidatan is proident, one sunt in culpa Ut enim adoccaecat minim veniam, quis nostrud enim ad dolores eos ratione voluptatem nesciunt natus.</p>
																		</div>
																	</div>
																</div>
																<div class="m-bottom6">
																	<div class="services-we-do">
																		<div class="post-img">
																			<a href="#"><img width="700" height="500" src="data:image/gif;base64,R0lGODdhAQABAPAAAP///wAAACwAAAAAAQABAEACAkQBADs=" data-lazy-src="	https://s3.eu-west-2.amazonaws.com/mamaspot.images/featured/afang+soup.jpg" class="img-responsive attachment-full" alt="" data-lazy-srcset="	https://s3.eu-west-2.amazonaws.com/mamaspot.images/featured/afang+soup.jpg 700w, images/site-img21-300x214.jpg 300w" data-lazy-sizes="(max-width: 700px) 100vw, 700px" />
																				<noscript><img width="700" height="500" src="	https://s3.eu-west-2.amazonaws.com/mamaspot.images/featured/afang+soup.jpg" class="img-responsive attachment-full" alt="" srcset="	https://s3.eu-west-2.amazonaws.com/mamaspot.images/featured/afang+soup.jpg 700w, images/site-img21-300x214.jpg 300w" sizes="(max-width: 700px) 100vw, 700px" /></noscript>
																			</a><span class="dine-time">AFANG SOUP</span></div>
																			<div class="service-info">
																				<p>Excepteur sit occaecat cupidatan is proident, one sunt in culpa Ut enim adoccaecat minim veniam, quis nostrud enim ad dolores eos ratione voluptatem nesciunt natus.</p>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
														<div class="wpb_column vc_column_container vc_col-sm-4">
															<div class="vc_column-inner ">
																<div class="wpb_wrapper">
																	<div class="m-bottom6">
																		<div class="services-we-do">
																			<div class="post-img">
																				<a href="#"><img width="700" height="500" src="data:image/gif;base64,R0lGODdhAQABAPAAAP///wAAACwAAAAAAQABAEACAkQBADs=" data-lazy-src="https://s3.eu-west-2.amazonaws.com/mamaspot.images/featured/chicken+sauce.jpg" class="img-responsive attachment-full" alt="" data-lazy-srcset="https://s3.eu-west-2.amazonaws.com/mamaspot.images/featured/chicken+sauce.jpg 700w, images/site-img19-300x214.jpg 300w" data-lazy-sizes="(max-width: 700px) 100vw, 700px" />
																					<noscript><img width="700" height="500" src="https://s3.eu-west-2.amazonaws.com/mamaspot.images/featured/chicken+sauce.jpg" class="img-responsive attachment-full" alt="" srcset="https://s3.eu-west-2.amazonaws.com/mamaspot.images/featured/chicken+sauce.jpg 700w, images/site-img19-300x214.jpg 300w" sizes="(max-width: 700px) 100vw, 700px" /></noscript>
																				</a><span class="dine-time">CHICKEN SAUCE</span></div>
																				<div class="service-info">
																					<p>Excepteur sit occaecat cupidatan is proident, one sunt in culpa Ut enim adoccaecat minim veniam, quis nostrud enim ad dolores eos ratione voluptatem nesciunt natus.</p>
																				</div>
																			</div>
																		</div>
																		<div class="m-bottom6">
																			<div class="services-we-do">
																				<div class="post-img">
																					<a href="#"><img width="700" height="500" src="data:image/gif;base64,R0lGODdhAQABAPAAAP///wAAACwAAAAAAQABAEACAkQBADs=" data-lazy-src="https://s3.eu-west-2.amazonaws.com/mamaspot.images/featured/egusi+soup.jpg" class="img-responsive attachment-full" alt="" data-lazy-srcset="https://s3.eu-west-2.amazonaws.com/mamaspot.images/featured/egusi+soup.jpg 700w, images/site-img20-300x214.jpg 300w" data-lazy-sizes="(max-width: 700px) 100vw, 700px" />
																						<noscript><img width="700" height="500" src="https://s3.eu-west-2.amazonaws.com/mamaspot.images/featured/egusi+soup.jpg" class="img-responsive attachment-full" alt="" srcset="https://s3.eu-west-2.amazonaws.com/mamaspot.images/featured/egusi+soup.jpg 700w, images/site-img20-300x214.jpg 300w" sizes="(max-width: 700px) 100vw, 700px" /></noscript>
																					</a><span class="dine-time">EGUSI SOUP</span></div>
																					<div class="service-info">
																						<p>Excepteur sit occaecat cupidatan is proident, one sunt in culpa Ut enim adoccaecat minim veniam, quis nostrud enim ad dolores eos ratione voluptatem nesciunt natus.</p>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
																<div class="wpb_column vc_column_container vc_col-sm-4">
																	<div class="vc_column-inner ">
																		<div class="wpb_wrapper">
																			<div class="m-bottom6">
																				<div class="services-we-do">
																					<div class="post-img">
																						<a href="#"><img width="700" height="500" src="data:image/gif;base64,R0lGODdhAQABAPAAAP///wAAACwAAAAAAQABAEACAkQBADs=" data-lazy-src="	https://s3.eu-west-2.amazonaws.com/mamaspot.images/featured/fried+rice.jpg" class="img-responsive attachment-full" alt="" data-lazy-srcset="	https://s3.eu-west-2.amazonaws.com/mamaspot.images/featured/fried+rice.jpg 700w, images/site-img20-300x214.jpg 300w" data-lazy-sizes="(max-width: 700px) 100vw, 700px" />
																							<noscript><img width="700" height="500" src="	https://s3.eu-west-2.amazonaws.com/mamaspot.images/featured/fried+rice.jpg" class="img-responsive attachment-full" alt="" srcset="	https://s3.eu-west-2.amazonaws.com/mamaspot.images/featured/fried+rice.jpg 700w, images/site-img20-300x214.jpg 300w" sizes="(max-width: 700px) 100vw, 700px" /></noscript>
																						</a><span class="dine-time">FRIED RICE</span></div>
																						<div class="service-info">
																							<p>Excepteur sit occaecat cupidatan is proident, one sunt in culpa Ut enim adoccaecat minim veniam, quis nostrud enim ad dolores eos ratione voluptatem nesciunt natus.</p>
																						</div>
																					</div>
																				</div>
																				<div class="m-bottom6">
																					<div class="services-we-do">
																						<div class="post-img">
																							<a href="#"><img width="700" height="500" src="data:image/gif;base64,R0lGODdhAQABAPAAAP///wAAACwAAAAAAQABAEACAkQBADs=" data-lazy-src="https://s3.eu-west-2.amazonaws.com/mamaspot.images/featured/white+soup.jpg" class="img-responsive attachment-full" alt="" data-lazy-srcset="https://s3.eu-west-2.amazonaws.com/mamaspot.images/featured/white+soup.jpg 700w, images/site-img23-300x214.jpg 300w" data-lazy-sizes="(max-width: 700px) 100vw, 700px" />
																								<noscript><img width="700" height="500" src="https://s3.eu-west-2.amazonaws.com/mamaspot.images/featured/white+soup.jpg" class="img-responsive attachment-full" alt="" srcset="https://s3.eu-west-2.amazonaws.com/mamaspot.images/featured/white+soup.jpg 700w, images/site-img23-300x214.jpg 300w" sizes="(max-width: 700px) 100vw, 700px" /></noscript>
																							</a><span class="dine-time">WHITE SOUP</span></div>
																							<div class="service-info">
																								<p>Excepteur sit occaecat cupidatan is proident, one sunt in culpa Ut enim adoccaecat minim veniam, quis nostrud enim ad dolores eos ratione voluptatem nesciunt natus.</p>
																							</div>
																						</div>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																	
																	<div class="vc_row-full-width"></div>
																	<div id="chef" class="vc_row wpb_row vc_row-fluid " style=" padding-top: 80px; ">
																		<div class="wpb_column vc_column_container vc_col-sm-12">
																			<div class="vc_column-inner ">
																				<div class="wpb_wrapper">
																					<div class="section-titles text-center uppercase m-bottom4">
																						<h4 class="font-grey-light font15 font-bold">About our Chef</h4>
																						<h2 class="font-color font40 font-bold">The Chef</h2></div>
																					</div>
																				</div>
																			</div>
																		</div>
																		<div class="vc_row wpb_row vc_row-fluid " style=" padding-bottom: 40px; ">
																			<div class="wpb_column vc_column_container vc_col-sm-1">

																			</div>
																			<div class="wpb_column vc_column_container vc_col-sm-3">
																				<div class="vc_column-inner ">
																					<div class="wpb_wrapper">
																						<div class="m-bottom5">
																							<div class="team-thumb clearfix">
																								<div class="team-col ">
																									<div class="imgbox">
																										<a href="#"><img width="600" height="600" src="data:image/gif;base64,R0lGODdhAQABAPAAAP///wAAACwAAAAAAQABAEACAkQBADs=" data-lazy-src="https://s3.eu-west-2.amazonaws.com/mamaspot.images/site-img24.jpg" class="img-responsive attachment-full" alt="" data-lazy-srcset="https://s3.eu-west-2.amazonaws.com/mamaspot.images/site-img24.jpg 600w, images/site-img24-150x150.jpg 150w, images/site-img24-300x300.jpg 300w" data-lazy-sizes="(max-width: 600px) 100vw, 600px" />
																											<noscript><img width="600" height="600" src="https://s3.eu-west-2.amazonaws.com/mamaspot.images/site-img24.jpg" class="img-responsive attachment-full" alt="" srcset="https://s3.eu-west-2.amazonaws.com/mamaspot.images/site-img24.jpg 600w, images/site-img24-150x150.jpg 150w, images/site-img24-300x300.jpg 300w" sizes="(max-width: 600px) 100vw, 600px" /></noscript>
																										</a>
																									</div>
																								</div>
																									<!-- <div class="team-dis ">
																										<h4 class="m-bottom1 font20">John Doe</h4>
																										<p class="m-bottom2">Excepteur sit occaecat cupidatan is proident, one sunt in culpa qui officia deserunt mollit anim Ut.</p>
																										<ul class="social-icons team">
																											<li><a href="#"><i class="fa fa-facebook"></i></a></li>
																											<li><a href="#"><i class="fa fa-twitter"></i></a></li>
																											<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
																											<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
																										</ul>
																									</div> -->
																								</div>
																							</div>
																						</div>
																					</div>
																				</div>
																				<div class="wpb_column vc_column_container vc_col-sm-6">
																					<div class="vc_column-inner ">
																						<div class="wpb_wrapper">
																							<div class="m-bottom5">
																								<div class="team-thumb clearfix">
																									
																									<div class="team-dis vc_col-sm-3" style="height: 270px;">
																										<h4 class="m-bottom1 font20">Angelina Smith</h4>
																										<p class="m-bottom2">Excepteur sit occaecat cupidatan is proident, one sunt in culpa qui officia deserunt mollit anim Ut.</p>
																										<ul class="social-icons team">
																											<li><a href="#"><i class="fa fa-facebook"></i></a></li>
																											<li><a href="#"><i class="fa fa-twitter"></i></a></li>
																											<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
																											<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
																										</ul>
																									</div>
																								</div>
																							</div>
																						</div>
																					</div>
																				</div>
																				<div class="wpb_column vc_column_container vc_col-sm-2">

																				</div>
																				<!-- <div class="wpb_column vc_column_container vc_col-sm-3">
																					<div class="vc_column-inner ">
																						<div class="wpb_wrapper">
																							<div class="m-bottom5">
																								<div class="team-thumb clearfix">
																									<div class="team-col">
																										<div class="imgbox">
																											<a href="#"><img width="600" height="600" src="data:image/gif;base64,R0lGODdhAQABAPAAAP///wAAACwAAAAAAQABAEACAkQBADs=" data-lazy-src="https://s3.eu-west-2.amazonaws.com/mamaspot.images/site-img26.jpg" class="img-responsive attachment-full" alt="" data-lazy-srcset="https://s3.eu-west-2.amazonaws.com/mamaspot.images/site-img26.jpg 600w, images/site-img26-150x150.jpg 150w, images/site-img26-300x300.jpg 300w" data-lazy-sizes="(max-width: 600px) 100vw, 600px" />
																												<noscript><img width="600" height="600" src="https://s3.eu-west-2.amazonaws.com/mamaspot.images/site-img26.jpg" class="img-responsive attachment-full" alt="" srcset="https://s3.eu-west-2.amazonaws.com/mamaspot.images/site-img26.jpg 600w, images/site-img26-150x150.jpg 150w, images/site-img26-300x300.jpg 300w" sizes="(max-width: 600px) 100vw, 600px" /></noscript>
																											</a>
																										</div>
																									</div>
																									<div class="team-dis">
																										<h4 class="m-bottom1 font20">John Doe</h4>
																										<p class="m-bottom2">Excepteur sit occaecat cupidatan is proident, one sunt in culpa qui officia deserunt mollit anim Ut.</p>
																										<ul class="social-icons team">
																											<li><a href="#"><i class="fa fa-facebook"></i></a></li>
																											<li><a href="#"><i class="fa fa-twitter"></i></a></li>
																											<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
																											<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
																										</ul>
																									</div>
																								</div>
																							</div>
																						</div>
																					</div>
																				</div>
																				<div class="wpb_column vc_column_container vc_col-sm-3">
																					<div class="vc_column-inner ">
																						<div class="wpb_wrapper">
																							<div class="m-bottom5">
																								<div class="team-thumb clearfix">
																									<div class="team-col">
																										<div class="imgbox">
																											<a href="#"><img width="600" height="600" src="data:image/gif;base64,R0lGODdhAQABAPAAAP///wAAACwAAAAAAQABAEACAkQBADs=" data-lazy-src="https://s3.eu-west-2.amazonaws.com/mamaspot.images/site-img27.jpg" class="img-responsive attachment-full" alt="" data-lazy-srcset="https://s3.eu-west-2.amazonaws.com/mamaspot.images/site-img27.jpg 600w, images/site-img27-150x150.jpg 150w, images/site-img27-300x300.jpg 300w" data-lazy-sizes="(max-width: 600px) 100vw, 600px" />
																												<noscript><img width="600" height="600" src="https://s3.eu-west-2.amazonaws.com/mamaspot.images/site-img27.jpg" class="img-responsive attachment-full" alt="" srcset="https://s3.eu-west-2.amazonaws.com/mamaspot.images/site-img27.jpg 600w, images/site-img27-150x150.jpg 150w, images/site-img27-300x300.jpg 300w" sizes="(max-width: 600px) 100vw, 600px" /></noscript>
																											</a>
																										</div>
																									</div>
																									<div class="team-dis">
																										<h4 class="m-bottom1 font20">Angelina Jr.</h4>
																										<p class="m-bottom2">Excepteur sit occaecat cupidatan is proident, one sunt in culpa qui officia deserunt mollit anim Ut.</p>
																										<ul class="social-icons team">
																											<li><a href="#"><i class="fa fa-facebook"></i></a></li>
																											<li><a href="#"><i class="fa fa-twitter"></i></a></li>
																											<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
																											<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
																										</ul>
																									</div>
																								</div>
																							</div>
																						</div>
																					</div>
																				</div> -->
																			</div>
																			<div id="reviews" data-vc-full-width="true" data-vc-full-width-init="false" data-vc-stretch-content="true" class="vc_row wpb_row vc_row-fluid vc_row-no-padding " style=" ">
																				<div class="wpb_column vc_column_container vc_col-sm-12">
																					<div class="vc_column-inner ">
																						<div class="wpb_wrapper">
																							<div class="section-lg bg-parallax">
																								<div class="container">
																									<div class="row">
																										<h3 class="text-center font-bold font-white font15 uppercase">TESTIMONIALS</h3>
																										<h2 class="text-center font-bold font-white font30 uppercase">WHAT PEOPLE SAYS</h2>
																										<div class="title-line-shape m-bottom2"></div>
																										<div data-ride="carousel" class="carousel slide" id="carousel-example-generic1">
																											<ol class="carousel-indicators">
																												<li data-target="#carousel-example-generic1" class="active" data-slide-to="0"></li>
																												<li data-target="#carousel-example-generic1" data-slide-to="1"></li>
																												<li data-target="#carousel-example-generic1" data-slide-to="2"></li>
																											</ol>
																											<div class="carousel-inner" role="listbox">
																												<div class="item active">
																													<div class="col-md-10 sec-auto-margin text-center">
																														<p class="font-white line-height30 font20 font-thin line-height">Nulla imperdiet sit amet magna. Vesti bulum elt dapibus, mauris nec malesuada fames ac turpis velit, nhoncus eu, luctus et interdum adipiscing wisi bulum elt dapibus, mauris malesuada fames Aliquam erat ac ipsum dipiscing Nulla amet elt wisi bulum Integer luctus et.</p>
																														<p class="m-top2"><span class="font-color font18">John Doe</span> <span class="italic">/ from aliquam</span></p>
																													</div>
																												</div>
																												<div class="item ">
																													<div class="col-md-10 sec-auto-margin text-center">
																														<p class="font-white line-height30 font20 font-thin line-height">Nulla imperdiet sit amet magna. Vesti bulum elt dapibus, mauris nec malesuada fames ac turpis velit, nhoncus eu, luctus et interdum adipiscing wisi bulum elt dapibus, mauris malesuada fames Aliquam erat ac ipsum dipiscing Nulla amet elt wisi bulum Integer luctus et.</p>
																														<p class="m-top2"><span class="font-color font18">Jane Doe</span> <span class="italic">/ from artizan</span></p>
																													</div>
																												</div>
																												<div class="item ">
																													<div class="col-md-10 sec-auto-margin text-center">
																														<p class="font-white line-height30 font20 font-thin line-height">Nulla imperdiet sit amet magna. Vesti bulum elt dapibus, mauris nec malesuada fames ac turpis velit, nhoncus eu, luctus et interdum adipiscing wisi bulum elt dapibus, mauris malesuada fames Aliquam erat ac ipsum dipiscing Nulla amet elt wisi bulum Integer luctus et.</p>
																														<p class="m-top2"><span class="font-color font18">Jordge Dikken</span> <span class="italic">/ from examedia</span></p>
																													</div>
																												</div>
																											</div>
																										</div>
																									</div>
																								</div>
																							</div>
																						</div>
																					</div>
																				</div>
																			</div>
																			<div class="vc_row-full-width"></div>
																		</div>
																		<footer class="footer-bg m-top0">
																			<div class="container">
																				<div class="row">
																					<div class="col-md-4 col-sm-12 m-bottom2">
																						<div class="call-to-action clearfix"><span class="fa fa-envelope-o font30 left"></span>
																							<div class="feature-icon-col font-white left-padd9 m-top1">
																								<h2 class="font20 font-white m-bottom1">Email</h2>
																								<p><a href="mailto:info@example.com">info@example.com</a></p>
																							</div>
																						</div>
																					</div>
																					<div class="col-md-4 col-sm-12 m-bottom2">
																						<div class="call-to-action clearfix"><span class="fa fa-phone font30 left"></span>
																							<div class="feature-icon-col font-white left-padd9 m-top1">
																								<h2 class="font20 font-white m-bottom1">Phone</h2>
																								<p>+1 123 4567 890</p>
																							</div>
																						</div>
																					</div>
																					<div class="col-md-4 col-sm-12 m-bottom2">
																						<div class="call-to-action clearfix"><span class="fa fa-map-marker font30 left"></span>
																							<div class="feature-icon-col font-white left-padd9 m-top1">
																								<h2 class="font20 font-white m-bottom1">Location</h2>
																								<p>Road #152, Chorley, NJ, USA</p>
																							</div>
																						</div>
																					</div>
																				</div>
																			</div>
																		</footer>
																		<div class="copyrights">
																			<div class="container">
																				<div class="row text-center">
																					<div class="col-md-12">
																						<ul class="social-icons">
																							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
																							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
																							<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
																							<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
																							<li><a href="#"><i class="fa fa-flickr"></i></a></li>
																							<li><a href="#"><i class="fa fa-youtube"></i></a></li>
																						</ul>
																					</div>
																					<div class="col-md-12 m-top4"> Copyright &copy; 2017 Mama's pot. All rights reserved.</div>
																				</div>
																			</div>
																		</div>
																	</div>
																	<a href="#" class="scrollup"></a>
																	<script type="text/javascript">
																		(function($) {

																			var id = '120958634@N07';
																			var limit = '12';

																			$.getJSON("http://api.flickr.com/services/feeds/photos_public.gne?id=" + id + "&lang=en-us&format=json&jsoncallback=?",

																				function(data) {
																					$.each(data.items,

																						function(i, item) {

																							if (i < limit) {

																								$("<img/>").attr("src", item.media.m.replace('_m', '_s')).appendTo("#flickr").wrap("<a href='" + item.media.m.replace('_m', '_z') + "' name='" + item.link + "' title='" + item.title + "'></a>");

																							}

																						});

																				});

																		})(jQuery);
																	</script>
																	<script type='text/javascript'>
																		/*  */
																		var mPS2id_params = {
																			"instances": {
																				"mPS2id_instance_0": {
																					"selector": {
																						"value": "a[rel='m_PageScroll2id']",
																						"values": null,
																						"id": "page_scroll_to_id_0_selector",
																						"field_type": "text",
																						"label": "Selector(s)",
																						"checkbox_label": null,
																						"radio_labels": null,
																						"field_info": null,
																						"description": "The link(s) that will scroll the page when clicked. Defaults to all links with <code>m_PageScroll2id<\/code> rel attribute value <br \/><small>In addition to selectors above, the plugin is enabled by default on links (or links contained within elements) with class <code>ps2id<\/code><\/small>",
																						"wrapper": null
																					},
																					"autoSelectorMenuLinks": {
																						"value": "false",
																						"values": null,
																						"id": "page_scroll_to_id_0_autoSelectorMenuLinks",
																						"field_type": "checkbox",
																						"label": "",
																						"checkbox_label": "Enable on WordPress Menu links",
																						"radio_labels": null,
																						"field_info": null,
																						"description": "Automatically enable the plugin on custom links (containing a hash in their URL) created in WordPress Menus <br \/><small>Requires WordPress version 3.6 or higher<\/small>",
																						"wrapper": "fieldset"
																					},
																					"scrollSpeed": {
																						"value": 1300,
																						"values": null,
																						"id": "page_scroll_to_id_0_scrollSpeed",
																						"field_type": "text-integer",
																						"label": "Scroll animation speed",
																						"checkbox_label": null,
																						"radio_labels": null,
																						"field_info": "milliseconds",
																						"description": "Scroll animation speed in milliseconds (1000 milliseconds equals 1 second)",
																						"wrapper": null
																					},
																					"autoScrollSpeed": {
																						"value": "true",
																						"values": null,
																						"id": "page_scroll_to_id_0_autoScrollSpeed",
																						"field_type": "checkbox",
																						"label": "",
																						"checkbox_label": "Auto-adjust animation speed",
																						"radio_labels": null,
																						"field_info": null,
																						"description": "Auto-adjust animation speed according to target element position and window scroll",
																						"wrapper": "fieldset"
																					},
																					"scrollEasing": {
																						"value": "easeInOutExpo",
																						"values": "linear,swing,easeInQuad,easeOutQuad,easeInOutQuad,easeInCubic,easeOutCubic,easeInOutCubic,easeInQuart,easeOutQuart,easeInOutQuart,easeInQuint,easeOutQuint,easeInOutQuint,easeInExpo,easeOutExpo,easeInOutExpo,easeInSine,easeOutSine,easeInOutSine,easeInCirc,easeOutCirc,easeInOutCirc,easeInElastic,easeOutElastic,easeInOutElastic,easeInBack,easeOutBack,easeInOutBack,easeInBounce,easeOutBounce,easeInOutBounce",
																						"id": "page_scroll_to_id_0_scrollEasing",
																						"field_type": "select",
																						"label": "Scroll animation easing",
																						"checkbox_label": null,
																						"radio_labels": null,
																						"field_info": null,
																						"description": "Animation easing when page is idle",
																						"wrapper": null
																					},
																					"scrollingEasing": {
																						"value": "easeInOutCirc",
																						"values": "linear,swing,easeInQuad,easeOutQuad,easeInOutQuad,easeInCubic,easeOutCubic,easeInOutCubic,easeInQuart,easeOutQuart,easeInOutQuart,easeInQuint,easeOutQuint,easeInOutQuint,easeInExpo,easeOutExpo,easeInOutExpo,easeInSine,easeOutSine,easeInOutSine,easeInCirc,easeOutCirc,easeInOutCirc,easeInElastic,easeOutElastic,easeInOutElastic,easeInBack,easeOutBack,easeInOutBack,easeInBounce,easeOutBounce,easeInOutBounce",
																						"id": "page_scroll_to_id_0_scrollingEasing",
																						"field_type": "select",
																						"label": "",
																						"checkbox_label": null,
																						"radio_labels": null,
																						"field_info": null,
																						"description": "Animation easing while page is animating",
																						"wrapper": null
																					},
																					"pageEndSmoothScroll": {
																						"value": "true",
																						"values": null,
																						"id": "page_scroll_to_id_0_pageEndSmoothScroll",
																						"field_type": "checkbox",
																						"label": "Scroll-to position",
																						"checkbox_label": "Auto-adjust",
																						"radio_labels": null,
																						"field_info": null,
																						"description": "Auto-adjust the scroll-to position so it does not exceed document length",
																						"wrapper": "fieldset"
																					},
																					"layout": {
																						"value": "vertical",
																						"values": "vertical,horizontal,auto",
																						"id": "page_scroll_to_id_0_layout",
																						"field_type": "radio",
																						"label": "Page layout",
																						"checkbox_label": null,
																						"radio_labels": "vertical|horizontal|auto",
																						"field_info": null,
																						"description": "Restrict page scrolling to top-bottom (vertical) or left-right (horizontal) accordingly. For both vertical and horizontal scrolling select <code>auto<\/code>",
																						"wrapper": "fieldset"
																					},
																					"offset": {
																						"value": 0,
																						"values": null,
																						"id": "page_scroll_to_id_0_offset",
																						"field_type": "text",
																						"label": "Offset",
																						"checkbox_label": null,
																						"radio_labels": null,
																						"field_info": "pixels",
																						"description": "Offset scroll-to position by x amount of pixels (positive or negative) or by selector (e.g. <code>#navigation-menu<\/code>)",
																						"wrapper": null
																					},
																					"highlightSelector": {
																						"value": "",
																						"values": null,
																						"id": "page_scroll_to_id_0_highlightSelector",
																						"field_type": "text",
																						"label": "Highlight selector(s)",
																						"checkbox_label": null,
																						"radio_labels": null,
																						"field_info": null,
																						"description": "The link(s) that are highlighted. Leave empty to highlight all or enter your specific selector(s)",
																						"wrapper": null
																					},
																					"clickedClass": {
																						"value": "mPS2id-clicked",
																						"values": null,
																						"id": "page_scroll_to_id_0_clickedClass",
																						"field_type": "text",
																						"label": "Classes",
																						"checkbox_label": null,
																						"radio_labels": null,
																						"field_info": "class name",
																						"description": "Class of the clicked link",
																						"wrapper": null
																					},
																					"targetClass": {
																						"value": "mPS2id-target",
																						"values": null,
																						"id": "page_scroll_to_id_0_targetClass",
																						"field_type": "text",
																						"label": "",
																						"checkbox_label": null,
																						"radio_labels": null,
																						"field_info": "class name",
																						"description": "Class of the (current) target element. First (current) target element class suffix: <code>-first<\/code> (e.g. <code>.mPS2id-target-first<\/code>). Last (current) target element class suffix: <code>-last<\/code> (e.g. <code>.mPS2id-target-last<\/code>)",
																						"wrapper": null
																					},
																					"highlightClass": {
																						"value": "mPS2id-highlight",
																						"values": null,
																						"id": "page_scroll_to_id_0_highlightClass",
																						"field_type": "text",
																						"label": "",
																						"checkbox_label": null,
																						"radio_labels": null,
																						"field_info": "class name",
																						"description": "Class of the (current) highlighted element. First (current) highlighted element class suffix: <code>-first<\/code> (e.g. <code>.mPS2id-highlight-first<\/code>). Last (current) highlighted element class suffix: <code>-last<\/code> (e.g. <code>.mPS2id-highlight-last<\/code>)",
																						"wrapper": null
																					},
																					"forceSingleHighlight": {
																						"value": "false",
																						"values": null,
																						"id": "page_scroll_to_id_0_forceSingleHighlight",
																						"field_type": "checkbox",
																						"label": "",
																						"checkbox_label": "Force single highlight",
																						"radio_labels": null,
																						"field_info": null,
																						"description": "Allow only one highlighted element at a time",
																						"wrapper": "fieldset"
																					},
																					"keepHighlightUntilNext": {
																						"value": "false",
																						"values": null,
																						"id": "page_scroll_to_id_0_keepHighlightUntilNext",
																						"field_type": "checkbox",
																						"label": "",
																						"checkbox_label": "Keep highlight until next",
																						"radio_labels": null,
																						"field_info": null,
																						"description": "Keep the current element highlighted until the next one comes into view",
																						"wrapper": "fieldset"
																					},
																					"highlightByNextTarget": {
																						"value": "false",
																						"values": null,
																						"id": "page_scroll_to_id_0_highlightByNextTarget",
																						"field_type": "checkbox",
																						"label": "",
																						"checkbox_label": "Highlight by next target",
																						"radio_labels": null,
																						"field_info": null,
																						"description": "Set targets length according to their next adjacent target position (useful when target elements have zero dimensions)",
																						"wrapper": "fieldset"
																					},
																					"scrollToHash": {
																						"value": "false",
																						"values": null,
																						"id": "page_scroll_to_id_0_scrollToHash",
																						"field_type": "checkbox",
																						"label": "Scroll to location hash",
																						"checkbox_label": "Enable",
																						"radio_labels": null,
																						"field_info": null,
																						"description": "Scroll to target id (e.g. <code>&lt;div id=\"id\" \/&gt;<\/code>) based on location hash (e.g. <code>mysite.com\/mypage#id<\/code>) on page load",
																						"wrapper": "fieldset"
																					},
																					"scrollToHashForAll": {
																						"value": "false",
																						"values": null,
																						"id": "page_scroll_to_id_0_scrollToHashForAll",
																						"field_type": "checkbox",
																						"label": "",
																						"checkbox_label": "Enable for all targets (even for elements that are not handled by the plugin)",
																						"radio_labels": null,
																						"field_info": null,
																						"description": null,
																						"wrapper": "fieldset"
																					},
																					"scrollToHashDelay": {
																						"value": 0,
																						"values": null,
																						"id": "page_scroll_to_id_0_scrollToHashDelay",
																						"field_type": "text-integer",
																						"label": "",
																						"checkbox_label": null,
																						"radio_labels": null,
																						"field_info": "Delay (milliseconds)",
																						"description": "Scroll to location hash animation delay in milliseconds (1000 milliseconds equals 1 second)",
																						"wrapper": null
																					},
																					"disablePluginBelow": {
																						"value": 0,
																						"values": null,
																						"id": "page_scroll_to_id_0_disablePluginBelow",
																						"field_type": "text",
																						"label": "Disable plugin below",
																						"checkbox_label": null,
																						"radio_labels": null,
																						"field_info": "screen-size",
																						"description": "Set the width,height screen-size (in pixels), below which the plugin will be disabled (e.g. <code>1024<\/code>, <code>1024,600<\/code>)",
																						"wrapper": null
																					},
																					"adminDisplayWidgetsId": {
																						"value": "true",
																						"values": null,
																						"id": "page_scroll_to_id_0_adminDisplayWidgetsId",
																						"field_type": "checkbox",
																						"label": "Administration",
																						"checkbox_label": "Display widgets id attribute",
																						"radio_labels": null,
																						"field_info": null,
																						"description": "Show the id attribute of each widget in Appearance &rarr; Widgets",
																						"wrapper": "fieldset"
																					},
																					"adminTinyMCEbuttons": {
																						"value": "true",
																						"values": null,
																						"id": "page_scroll_to_id_0_adminTinyMCEbuttons",
																						"field_type": "checkbox",
																						"label": "",
																						"checkbox_label": "Enable insert link\/target buttons in post visual editor",
																						"radio_labels": null,
																						"field_info": null,
																						"description": "<small>Requires WordPress version 3.9 or higher<\/small>",
																						"wrapper": "fieldset"
																					}
																				}
																			},
																			"total_instances": "1",
																			"shortcode_class": "_ps2id"
																		};
																		/*  */
																	</script>
																	<script type='text/javascript'>
																		/*  */
																		var woocommerce_params = {
																			"ajax_url": "\/wp\/butter\/wp-admin\/admin-ajax.php",
																			"wc_ajax_url": "\/wp\/butter\/restaurant\/one-page-restaurant\/?wc-ajax=%%endpoint%%"
																		};
																		/*  */
																	</script>
																	<script type='text/javascript'>
																		/*  */
																		var wc_cart_fragments_params = {
																			"ajax_url": "\/wp\/butter\/wp-admin\/admin-ajax.php",
																			"wc_ajax_url": "\/wp\/butter\/restaurant\/one-page-restaurant\/?wc-ajax=%%endpoint%%",
																			"fragment_name": "wc_fragments"
																		};
																		/*  */
																	</script>
																	<script type='text/javascript'>
																		/*  */
																		var prefix_object_name = {
																			"error_while_ajax_request": "Error while ajax request",
																			"thank_you_your_email_has_been_sent": "Thank you, your email has been sent",
																			"please_try_again": "Please, fill in all the required fields correctly!"
																		};
																		/*  */
																	</script>
																	<!-- // <script type='text/javascript' src='http://fluentthemes.com/wp/butter/wp-content/themes/butter/js/butter-main.js?ver=1.0.0'></script> -->
																	<%= javascript_include_tag 'jquery.cubeportfolio.min.js'%>
																	<%= javascript_include_tag 'main5-1.js'%>
																	<%= javascript_include_tag "8fbce939a0ba60592388051a743e3f73.js" %>
																	<%= javascript_include_tag "7dd2707a351860bbbf456d5b7444ee55.js" %>
																	<%= javascript_include_tag "ecb67f21a86e5a98d9253562ba9e9337.js" %>
																	<%= javascript_include_tag "8538fad17778085bd9ee0e6173df833e.js" %>
																	<%= javascript_include_tag "d9a436ce899c756ca79791467b189ce2.js" %>
																	<%= javascript_include_tag "50d6a92f2436a7a7460a2f459a2a34f1.js" %>
																	<%= javascript_include_tag "e313bcf75a78a3b9564346e9d14d73cf.js" %>
																	<%= javascript_include_tag "42bcb70ce26ee17380ee576801fa2835.js" %>
																	<%= javascript_include_tag "05ad15d1f36071eaf8c2c6e4f9f9aa55.js" %>
																	<%= javascript_include_tag "08c18a7f0f829881fcf741ac2b0fea9a.js" %>
																</body>

																</html>
<!-- This website is like a Rocket, isn't it? Performance optimized by WP Rocket. Learn more: https://wp-rocket.me - Debug: cached@1490983244 -->